@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width:6px;

}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: white;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #646EE4;
  border-radius: 10px;
}